{% extends 'core/base.html' %}
{% comment %} Incluimos la plantilla base a nuestro html {% endcomment %}
{% comment %} Marcamos el titulo que queremos ver en la pagina {% endcomment %}
{% block title %} Nosotros {% endblock %} 
{% comment %} Marcamos el inicio del contenido {% endcomment %}
{% block content %}
{% comment %} Archivos estaticos {% endcomment %}
{% load static %}

    <nav class="navbar navbar-dark bg-dark navbar-expand-md ">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'core/media/img/icon.png' %}" width="50" height="50">

        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav mr-auto ml-right">
                <a class="nav-item nav-link active" href="{% url 'inicio' %}">Inicio</a>
                <a class="nav-item nav-link" href="{% url 'nosotros' %}">Nosotros</a>
               

            </div>
            <div class="d-flex flex-row justify-content-center">
                <a href="{% url 'login' %}" class="btn btn-primary mr-2">Iniciar sesión</a>
            
            </div>
        </div>

    </nav>

    <div class="container">
        <h1 class="text-center mt-3">¿Quienes Somos?</h1>







        <div class="row mt-5">
            <div class="col-sm-12 col-md-3 text-center">
                <img src="{% static 'core/media/img/avatar1.jpg' %}" style="width: 200px; height: 200px;" alt="">
                <p class="mt-3 text-justify">
                    <h4>Andres Ruiz</h4>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="{% static 'core/media/img/avatar1.jpg' %}"  style="width: 200px; height: 200px;" alt="">
                <p class="mt-3 text-justify">
                    <h4>David Caro</h4>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 text-center">
                <img src="{% static 'core/media/img/frn.jpg' %}" style="width: 200px; height: 200px;" alt="">
                <p class="mt-3 text-justify">
                    <h4>Ferney Moreno</h4>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </p>
            </div>

            <div class="col-sm-12 col-md-3 text-center">
                <img src="{% static 'core/media/img/avatar1.jpg' %}" style="width: 200px; height: 200px;" alt="">
                <p class="mt-3 text-justify">
                    <h4>Sebastian Cabrera</h4>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                </p>
            </div>




        </div>

    </div>

    {% endblock %}














    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="js/bootstrap.js"></script>
</body>

</html>