{% extends 'core/basel.html' %} {% comment %} Incluimos la plantilla base a nuestro html {% endcomment %} {% comment %} Marcamos el titulo que queremos ver en la pagina {% endcomment %} {% block title %} Register {% endblock %} {% comment %} Marcamos
el inicio del contenido {% endcomment %} {% block content %} {% comment %} Archivos estaticos {% endcomment %} {% load static %}

<div class="wrapper">
    <div id="formContent">

        <div>
            <img src="{%  static 'core/media/img/logo1.png' %}" id="icon" />
        </div>


        <form>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="email" placeholder="Correo Electrónico">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Confirmar Contraseña ">

            <div class="loginButton text-center">
                <a class="btn btn-primary" href="{% url 'perfil' %}">Registrarse</a>
            </div>

        </form>


        <div id="formFooter">
            <a class="underlineHover" href="{% url 'login' %}">Ir a inicio sesión</a>
        </div>

    </div>
</div>


{% endblock %}